<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo.svg">
    <title>
        <%= user.username %> - Profile
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <style>
        .profile-header {
            background: #f8f9fa;
            padding: 20px;
            border-bottom: 1px solid #dee2e6;
        }

        .profile-header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }

        .profile-header h1 {
            margin: 20px 0 0 0;
        }

        .profile-section {
            margin: 20px 0;
        }
    </style>
</head>

<body>
	<div id="wrapper">
        <%- include('partials/navbar') %>
        <div class="container">
            <div class="profile-header text-center">
                <img src="<%= user.profilePic %>" alt="<%= user.name %>">
                <h1>
                    <%= user.username %>
                </h1>
                <p>
                    <%= user.info %>
                </p>
                <a href="/messages/<%=currentUser._id%>/<%=user._id %>"> Kullanıcıya mesaj gönderin</a>
            </div>
            <% if (posts.length > 0) { %>
            <div class="profile-section">
                <h2>İlanlar</h2>
                <div class="list-group">
                    <% posts.forEach(post=> { %>
                        <a href="/satisilani/<%= post._id %>" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">
                                <%= post.title %>
                            </h5>
                            <p class="mb-1">
                                <%= post.description %>
                            </p>
                            <small class="timestamp"><%= post.createdAt.toLocaleString() %></small>
                        </a>
                        <% }) %>
                </div>
            </div>
            <% } %>
            <% if (jobs.length > 0) { %>
            <div class="profile-section">
                <h2>İş İlanları</h2>
                <div class="list-group">
                    <% jobs.forEach(job=> { %>
                        <a href="/isilani/<%= job._id %>" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">
                                <%= job.title %>
                            </h5>
                            <p class="mb-1">
                                <%= job.description %>
                            </p>
                            <small class="timestamp">Posted on <%= job.createdAt.toLocaleString() %></small>
                        </a>
                        <% }) %>
                </div>
            </div>
            <% } %>
            <% if (kiralar.length > 0) { %>
            <div class="profile-section">
                <h2>Ev Arkadaşı İlanları</h2>
                <div class="list-group">
                    <% kiralar.forEach(kira=> { %>
                        <a href="/evarkadasiilani/<%= kira._id %>" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">
                                <%= kira.title %>
                            </h5>
                            <p class="mb-1">
                                <%= kira.description %>
                            </p>
                            <small class="timestamp">Posted on <%= kira.createdAt.toLocaleString() %></small>
                        </a>
                        <% }) %>
                </div>
            </div>
            <% } %>
            <% if (shortilanlar.length > 0) { %>
            <div class="profile-section">
                <h2>Diğer İlanlar</h2>
                <div class="list-group">
                    <% shortilanlar.forEach(shortilan=> { %>
                        <a href="/shortilanlar/<%= shortilan._id %>" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">
                                <%= shortilan.title %>
                            </h5>
                            <p class="mb-1">
                                <%= shortilan.description %>
                            </p>
                            <small class="timestamp">Posted on <%= shortilan.createdAt.toLocaleString() %></small>
                        </a>
                        <% }) %>
                </div>
            </div>
            <% } %>

    </div>
        <%- include('partials/footer') %>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/update-timestamps.js"></script>
    <!-- timestamp class'ına sahip etiketlerin formatını değiştiriyor sadece -->
</body>

</html>