<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlanlar</title>
    <link rel="stylesheet" href="/css/ilandetay.css">
</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <div class="container">
                <header>
                    <h1>İlan Detayları</h1>
                </header>

                <div class="content">
                    <div class="image-gallery">
                        <% ilan.images.forEach(image=> { %>
                            <img src="<%= image %>" alt="İlan Görseli">
                        <% }) %>
                    </div>

                    <div class="details">
                        <h2 class="ilanbasligi">
                            <%= ilan.title %>
                        </h2>
                        <p class="price">
                            <%= ilan.price %> TL
                        </p>
                        <p class="description">
                            <%= ilan.description %>
                        </p>
                        <div class="seller-info">
                            <h3>Satıcı Bilgileri</h3>
                            <p>Ad: Ahmet Yılmaz</p>
                            <p>Telefon: +90 532 000 00 00</p>
                            <p>Adres: Sarıyer/İstanbul</p>
                        </div>
                    </div>

                </div>
            </div>

        <%- include('partials/footer') %>
    </div>
</body>

</html>