<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icons/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ilan.title %> - Detaylar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/default-detaylar.css">
    <link rel="stylesheet" href="/css/ilandetay.css">

    <meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:image" content="/img/icons/logo.svg">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:url" content="https://ituraptiye.com/">
	<meta property="og:type" content="website">
</head>

<body>
    <div id="wrapper">
            <%- include('partials/navbar') %>
            <div class="container">
                <header>
                    <h1>İlan Detayları</h1>
                </header>

                <div class="content">
                    <div class="image-gallery">
                        <% if (ilan.images.length> 0) { %>
                            <div id="carousel<%= ilan._id %>" class="carousel slide" data-bs-ride="carousel">
                                <% if (ilan.images.length !=1) { %>
                                    <div class="carousel-indicators">
                                        <% ilan.images.forEach((image, index)=> { %>
                                            <button type="button"
                                                data-bs-target="#ilanCarousel<%= ilan._id %>"
                                                data-bs-slide-to="<%= index %>"
                                                class="<%= index === 0 ? 'active' : '' %>"
                                                aria-current="<%= index === 0 ? 'true' : 'false' %>"
                                                aria-label="Slide <%= index + 1 %>">
                                            </button>
                                        <% }) %>
                                    </div>
                                <% } %>
                                <div class="carousel-inner">
                                    <% ilan.images.forEach(function(image, index) { %>
                                        <div
                                            class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                            <img src="<%= image %>" onerror="this.src='img/satilik-img.jpg';" class="d-block" alt="Item Image">
                                        </div>
                                    <% }) %>
                                </div>
                                <% if (ilan.images.length !=1) { %>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carousel<%= ilan._id %>"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carousel<%= ilan._id %>"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                <% } %>
                            </div>
                            <!-- Carousel Sonu -->
                        <% } else { %>
                            <div class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/satilik-img.jpg" class="d-block" alt="Default Item Image">
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <div class="details">
                        <div class="item-info">
                            <h2 class="ilanbasligi">
                                <%= ilan.title %>
                            </h2>
                            <p class="price">
                                <%= ilan.price %> TL
                            </p>
                            <p class="description">
                                <%= ilan.description %>
                            </p>
                        </div>
                        <div class="seller-info">
                            <div>
                                <h3>Satıcıya ulaşmak için:</h3>
                                <p class="reach-you"><%= ilan.reachYou %></p>
                            </div>
                            <div class="reach-info">
                                <a href="/profile/<%=user.username  %>"><%=user.username  %> </a>
                                <a class="btn1 align-self-end" href="<%= currentUserId.toString() === ilan.owner.toString() ? '/satisilani/edit/' + ilan._id : '/messages/' + currentUserId.toString() + '/' + ilan.owner%>">
                                    <% if (currentUserId.toString() === ilan.owner.toString()) { %>
                                        <img height="16px" width="16px" src="/img/icons/edit.svg" style="position: relative; top: -1px;">
                                    <% } else { %>
                                        Mesaj at
                                    <% } %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="back-to-inbox">
                    <a href="/satisilanlari"><img class="back-to-prev" src="/img/icons/downward-arrow.svg">Satış İlanları</a>
                </span>
            </div>
            <%- include('partials/footer') %>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>