<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo.svg">
    <title><%= job.jobTitle %> - Detaylar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/default-detaylar.css">

    <meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:image" content="https://ituraptiye.com/img/icons/logo.png">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:url" content="https://ituraptiye.com/">
	<meta property="og:type" content="website">

</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
        <div class="container">
            <header>
                <h1>İlan Detayları</h1>
            </header>

            <div class="content">
                <div class="image-gallery">
                    
                    <% if (job.images.length> 0) { %>
                        <div id="carousel<%= job._id %>" class="carousel slide" data-bs-ride="carousel">
                            <% if (job.images.length !=1) { %>
                                <div class="carousel-indicators">
                                    <% job.images.forEach((image, index)=> { %>
                                        <button type="button"
                                            data-bs-target="#ilanCarousel<%= job._id %>"
                                            data-bs-slide-to="<%= index %>"
                                            class="<%= index === 0 ? 'active' : '' %>"
                                            aria-current="<%= index === 0 ? 'true' : 'false' %>"
                                            aria-label="Slide <%= index + 1 %>">
                                        </button>
                                    <% }) %>
                                </div>
                            <% } %>
                            <div class="carousel-inner">
                                <% job.images.forEach(function(image, index) { %>
                                    <div
                                        class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                        <img src="<%= image %>" onerror="this.src='/img/job-img.jpg';" class="d-block" alt="Job Image">
                                    </div>
                                <% }) %>
                            </div>
                            <% if (job.images.length !=1) { %>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel<%= job._id %>"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"
                                        aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel<%= job._id %>"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon"
                                        aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            <% } %>
                        </div>
                        <!-- Carousel Sonu -->
                    <% } else { %>
                        <div class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img/job-img.jpg" class="d-block" alt="Default Job Image">
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="details">
                    <h2 class="ilanbasligi"><%= job.jobTitle %></h2>
                    <p class="description"><%= job.description %></p>
                    <p>
                        <strong>Oluşturulma Tarihi:</strong>
                        <%= new Date(job.createdAt).toLocaleDateString("tr-TR", { timeZone: "Europe/Istanbul" }) %>
                    </p>
                    <p>
                        <strong>Şu tarihe kadar:</strong>
                        <%= new Date(job.removalDate).toLocaleDateString("tr-TR", { timeZone: "Europe/Istanbul" }) %>
                    </p>
                    <div class="reach-info">
                        <a href="/profile/<%= owner.username %>"><%= owner.username %></a>
                        <a class="btn1 align-self-end" href="<%= currentUserID.toString() === owner._id.toString() ? '/isilani/edit/' + job._id : '/messages/' + owner._id + '/' + currentUserID%>">
                            <% if (currentUserID.toString() === owner._id.toString()) { %>
                                <img class="edit-svg" height="16px" width="16px" src="/img/icons/edit.svg">
                            <% } else { %>
                                Mesaj At
                            <% } %>
                        </a>
                        <!-- <a class="btn1 align-self-end" href="/messages/<%= owner._id %>/<%=currentUserID%>">Mesaj At</a> -->
                    </div>
                </div>
            </div>
            <span class="back-to-inbox">
                <a href="/isilanlari"><img class="back-to-prev" src="/img/icons/downward-arrow.svg">İş İlanları</a>
            </span>
        </div>
        <%- include('partials/footer') %>
</div>

<!-- Lightbox -->
<div id="lightbox" class="lightbox">
    <span class="close-lightbox">&times;</span>
    <span class="nav-btn prev-btn">&#10094;</span>
    <img class="lightbox-content" id="lightbox-img">
    <span class="nav-btn next-btn">&#10095;</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/lightbox.js"></script>
</body>

</html>