<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= ilan.title %>
  </title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/list-ilanlar.css">
  <style>
    .image-gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <%- include('partials/navbar') %>
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <%= ilan.title %>
          </h1>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= ilan.description %>
          </p>
          <p class="card-text">Price: $<%= ilan.price %>
          </p>
          <p class="card-text">Date: <%= ilan.date.toDateString() %>
          </p>
          <div class="image-gallery row">
            <% ilan.images.forEach(function(image) { %>
              <div class="col-md-4">
                <img src="<%= image %>" alt="Image" class="img-fluid img-thumbnail">
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>