<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>İlanlar</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/list.css">
</head>

<body>
  <%- include('partials/navbar') %>
    <div class="container mt-5">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form class="d-flex" action="/list/search" method="post">
              <input name="search" class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                required>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <h1 class="mb-4">İlanlar</h1>
      <div class="row">
        <% posts.forEach(post=> { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <% if (post.images.length> 0) { %>
                <img src="<%= post.images[0] %>" class="card-img-top" alt="<%= post.title %>">
                <% } %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= post.title %>
                    </h5>
                    <p class="card-text">
                      <%= post.description %>
                    </p>
                    <p class="card-text"><strong>Fiyat:</strong>
                      <%= post.price %>
                    </p>
                    <p class="card-text"><small class="text-muted">Şu tarihe kadar ilanda: <%= new
                          Date(post.date).toLocaleDateString() %></small></p>
                    <a href="/list/<%= post._id %>" class="btn btn-primary">Detaylar</a>
                  </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>


    <nav aria-label="Page navigation">
      <ul class="pagination">
        <% if (currentPage> 1) { %>
          <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <% } %>

            <% for (let i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>">
                  <%= i %>
                </a>
              </li>
              <% } %>

                <% if (currentPage < totalPages) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  <% } %>
      </ul>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>