<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo.svg">
    <title>Chat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/messages.css">

    <meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:image" content="/img/icons/logo.svg">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:url" content="https://ituraptiye.com/">
	<meta property="og:type" content="website">

</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <div class="container mt-4">
                <span class="back-to-inbox">
                    <a href="/gelenkutusu"><img class="back-to-prev" src="/img/icons/downward-arrow.svg">Gelen Kutusu</a>
                </span>
                <div class="message-box-container">
                    <div class="card mt-4">
                        <div class="card-header">
                            <a class="username" href="/profile/<%=infoUser2.username  %>">
                                <%= infoUser2.username %>
                            </a>
                        </div>
                        <div id="chat-messages">
                            <% if (messages.length===0) { %>
                                <p class="text-center">No messages yet. Start the conversation!</p>
                            <% } else { %>
                                <% messages.forEach(function(message) { %>
                                    <div class="message mb-2">
                                        <div class="d-flex <%= message.sender.equals(currentUser._id) ? 'justify-content-end' : 'justify-content-start' %>">
                                            <div class="message-bubble <%= message.sender.equals(currentUser._id) ? 'right-bubble' : 'left-bubble' %>">
                                                <p class="message-content daha-fazla-container">
                                                    <%= message.content %>
                                                </p>
                                                <a href="javascript:void(0);" class="daha-fazla mesaj-daha-fazla">daha fazla</a>
                                                <!-- small etiketi içinde fazla boşluk olmamalı -->
                                                <small class="timestamp"><%= new Date(message.timestamp).toLocaleString("tr-TR", { timeZone: "Europe/Istanbul" }) %>
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                            <form id="message-form" class="prevent-multiple-submit-form" method="POST" action="/messages/<%=communicators[0]%>/<%=communicators[1] %>" autocomplete="off">
                                <div class="input-group">
                                    <input type="text" name="message" id="message-input" class="form-control" placeholder="Mesaj at" required>
                                    <div class="input-group-append">
                                        <button id="btn-send" type="submit" class="btn1 prevent-multiple-submit-button">
                                            <img src="/img/icons/send.svg" alt="Send">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <small>Yeni mesajları görmek için sayfayı yenileyin. Mesajlaşma sistemi gerçek zamanlı değildir, daha güvenilir yollarla iletişim kurmanızı öneririz.</small>
                    <br>
                    <small>Mevcut sohbet başladıktan 1 ay sonra tüm konuşma silinir.</small>
                </div>
            </div>
            <%- include('partials/footer') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- timestamp class ına sahip etiketlein formatını değiştiriyor sadece -->
    <script src="/js/update-timestamps.js"></script>
    
    <!-- daha-fazla-container class ına sahip etiketlein formatını değiştiriyor sadece-->
    <script src="/js/daha-fazla.js"></script>

    <script src="/js/messages.js"></script>

    <script defer src="/js/prevent-multiple-submit.js"></script>
    <!-- prevent-multiple-submit-form prevent-multiple-submit-button class'ına sahip etiketlere etki eder başka bir etkisi yok-->
</body>

</html>