<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icons/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <div class="container">
                <header class="baslik">
                    <h1>Profilim</h1>
                </header>
                <div class="profile-container">
                    <div class="profile-sidebar">
                        <img class="profile-pic" src="<%=user.profilePic  %>" onerror="this.src='img/icons/profile-circle.svg';" alt="Profil Fotoğrafı">
                        <h2>
                            <%= user.username %>
                        </h2>
                        <p>
                            <%= user.info ? user.info : "Hakkınızda Kısmı" %>
                        </p>
                        <a href="/editprofile/<%=user.username%>" class="btn1 d-inline-block mt-4">
                            <img height="16px" width="16px" src="/img/icons/edit.svg" style="position: relative; top: -2px;"> Düzenle
                        </a>
                    </div>
                    <div class="profile-details">
                        <% if (ilanlar.length > 0) { %>
                            <h2>Satış İlanlarım</h2>
                            <ul class="ilan-list">
                                <ul class="list-group">
                                    <% ilanlar.forEach(function(ilan) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="/satisilani/<%= ilan._id %>" class="text-dark fw-bold" style="font-size: 18px; text-decoration: none;">
                                                <%= ilan.title %>
                                            </a>
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <a href="/satisilani/edit/<%= ilan._id %>" class="btn1">
                                                    <img height="16px" width="16px" src="/img/icons/edit.svg" style="position: relative; top: -1px;">
                                                </a>
                                                <form action="/ilan/delete/<%= ilan._id %>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            </ul>
                        <% } %>
                        <% if (jobs.length > 0) { %>
                            <h2>İş İlanlarım</h2>
                            <ul class="ilan-list">
                                <ul class="list-group">
                                    <% jobs.forEach(function(job) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <!-- İlan Başlığı ve Fiyatı -->
                                            <a href="/isilani/<%= job._id %>" class="text-dark fw-bold" style="font-size: 18px; text-decoration: none;">
                                                <%= job.jobTitle %>
                                            </a>
                        
                                            <!-- Düzenle ve Sil Butonları -->
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <a href="/isilani/edit/<%= job._id %>" class="btn1">
                                                    <img height="16px" width="16px" src="/img/icons/edit.svg" style="position: relative; top: -1px;">
                                                </a>
                                                <form action="/job/delete/<%= job._id %>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            </ul>
                        <% } %>
                        <% if (kiralar.length > 0) { %>
                            <h2>Ev Arkadaşı İlanlarım</h2>
                            <ul class="ilan-list">
                                <ul class="list-group">
                                    <% kiralar.forEach(function(kira) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <!-- İlan Başlığı ve Fiyatı -->
                                            <a href="/evarkadasiilani/<%= kira._id %>" class="text-dark fw-bold" style="font-size: 18px; text-decoration: none;">
                                                <%= kira.title %>
                                            </a>

                                            <!-- Düzenle ve Sil Butonları -->
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">

                                                <a href="/evarkadasiilani/edit/<%= kira._id %>" class="btn1">
                                                    <img height="16px" width="16px" src="/img/icons/edit.svg" style="position: relative; top: -1px;">
                                                </a>
                                                <form action="/kiraoda/delete/<%= kira._id %>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            </ul>
                        <% } %>
                        <% if (shortilanlar.length > 0) { %>
                            <h2>Genel İlanlarım</h2>
                            <ul class="ilan-list">
                                <ul class="list-group">
                                    <% shortilanlar.forEach(function(short) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <!-- İlan Başlığı ve Fiyatı -->
                                            <a href="/kisasureliilanlar" class="text-dark fw-bold"
                                                style="font-size: 18px; text-decoration: none;">
                                                <%= short.title %>
                                            </a>

                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <form action="/shortilan/delete/<%= short._id %>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            </ul>
                        <% } %>
                        <% if (favorites.length > 0 || favoritesJob.length > 0 || favoritesKira.length > 0) { %>
                            <h3>Favorilerim</h3>
                            <ul class="ilan-list">
                                <ul class="list-group">
                                    <% favorites.forEach(function(favorite) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="text-dark fw-bold" href="/satisilani/<%= favorite._id %>">
                                                <%= favorite.title %>
                                            </a>
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <form action="/deletefavorites/<%=favorite._id%>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                                <ul class="list-group">
                                    <% favoritesJob.forEach(function(favoriteJob) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="text-dark fw-bold" href="/isilani/<%= favoriteJob._id %>">
                                                <%= favoriteJob.jobTitle %>
                                            </a>
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <form action="/jobdeletefavorites/<%=favoriteJob._id%>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>

                                <ul class="list-group">
                                    <% favoritesKira.forEach(function(favoriteKira) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="text-dark fw-bold" href="/evarkadasiilani/<%= favoriteKira._id %>">
                                                <%= favoriteKira.title %>
                                            </a>
                                            <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                                <form action="/kiradeletefavorites/<%=favoriteKira._id%>" method="POST" class="d-inline">
                                                    <button type="submit" class="btn2">
                                                        <img height="18px" width="18px" src="/img/icons/trash-bin.svg">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>

            <%- include('partials/footer') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/profilefavorites.js"></script>
</body>

</html>