<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <div class="container">
                <header class="başlik">
                    <h1>Profilim</h1>
                </header>
                <div class="profile-container">
                    <div class="profile-sidebar">
                        <img src="<%=user.profilePic  %>" onerror="this.src='img/profile-circle.svg';"
                            alt="Profil Fotoğrafı">
                        <h2>
                            <%= user.username %>
                        </h2>
                        <a href="/editprofile/<%=user._id%>" class="edit-profile-btn">Profili Düzenle</a>

                        <!-- şurayı editlersiniz kullanıcı hakkında info -->
                        <h6>
                            <%= user.info ? user.info
                                : "Hakkınızda Kısmı"
                                %>
                        </h6>
                    </div>
                    <div class="profile-details">
                        <h2>Satış İlanlarım</h2>
                        <ul class="ads-list">
                            <ul class="list-group">
                                <% ilanlar.forEach(function(ilan) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <!-- İlan Başlığı ve Fiyatı -->
                                        <a href="/ilan/<%= ilan._id %>" class="text-dark fw-bold"
                                            style="font-size: 18px; text-decoration: none;">
                                            <%= ilan.title %> - ₺<%= ilan.price %>
                                        </a>
                                        <!-- Düzenle ve Sil Butonları -->
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <!-- Düzenle Butonu -->
                                            <a href="/ilan/edit/<%= ilan._id %>"
                                                class="btn btn-primary btn-md">Düzenle</a>
                                            <!-- Sil Butonu -->
                                            <form action="/ilan/delete/<%= ilan._id %>" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Sil</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </ul>
                        <h2>İş İlanlarım</h2>
                        <ul class="ads-list">
                            <ul class="list-group">
                                <% jobs.forEach(function(job) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <!-- İlan Başlığı ve Fiyatı -->
                                        <a href="/job/<%= job._id %>" class="text-dark fw-bold"
                                            style="font-size: 18px; text-decoration: none;">
                                            <%= job.jobTitle %> - ₺<%= job.price %>
                                        </a>

                                        <!-- Düzenle ve Sil Butonları -->
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <a href="/job/edit/<%= job._id %>"
                                                class="btn btn-primary btn-md">Düzenle</a>
                                            <form action="/job/delete/<%= job._id %>" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Sil</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </ul>
                        <h2>Ev Arkadaşı İlanlarım</h2>
                        <ul class="ads-list">
                            <ul class="list-group">
                                <% kiralar.forEach(function(kira) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <!-- İlan Başlığı ve Fiyatı -->
                                        <a href="/kiraoda/<%= kira._id %>" class="text-dark fw-bold"
                                            style="font-size: 18px; text-decoration: none;">
                                            <%= kira.title %>
                                        </a>

                                        <!-- Düzenle ve Sil Butonları -->
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <a href="/kiraoda/edit/<%= kira._id %>"
                                                class="btn btn-primary btn-md">Düzenle</a>
                                            <form action="/kiraoda/delete/<%= kira._id %>" method="POST"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Sil</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </ul>

                        <h2>Kısa Süreli İlanlarım</h2>
                        <ul class="ads-list">
                            <ul class="list-group">
                                <% shortilanlar.forEach(function(short) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <!-- İlan Başlığı ve Fiyatı -->
                                        <a href="/kiraoda/<%= short._id %>" class="text-dark fw-bold"
                                            style="font-size: 18px; text-decoration: none;">
                                            <%= short.title %>
                                        </a>

                                        <!-- Düzenle ve Sil Butonları -->
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <form action="/shortilan/delete/<%= short._id %>" method="POST"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Sil</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </ul>

                        <h3>Favorilerim</h3>
                        <ul class="ads-list">
                            <ul class="list-group">
                                <% favorites.forEach(function(favorite) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="text-dark fw-bold" href="/ilan/<%= favorite._id %>">
                                            <%= favorite.title %>
                                        </a>
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <form action="/deletefavorites/<%=favorite._id%>" method="POST"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Favorilerden Çıkar</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                            <ul class="list-group">
                                <% favoritesJob.forEach(function(favoriteJob) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="text-dark fw-bold" href="/isler/<%= favoriteJob._id %>">
                                            <%= favoriteJob.jobTitle %>
                                        </a>
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <form action="/jobdeletefavorites/<%=favoriteJob._id%>" method="POST"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Favorilerden Çıkar</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>

                            <ul class="list-group">
                                <% favoritesKira.forEach(function(favoriteKira) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="text-dark fw-bold" href="/kiraoda/<%= favoriteKira._id %>">
                                            <%= favoriteKira.title %>
                                        </a>
                                        <div class="btn-group" role="group" aria-label="İlan işlemleri">
                                            <form action="/kiradeletefavorites/<%=favoriteKira._id%>" method="POST"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-md">Favorilerden Çıkar</button>
                                            </form>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>

                        </ul>

                    </div>
                </div>
            </div>

            <%- include('partials/footer') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/profilefavorites.js"></script>
</body>

</html>